/apple1.jpg
/apple1.txt
/apple2.jpg
/apple2.txt
/apple3.jpg
/apple3.txt
/apple4.jpg
/apple4.txt
/apple5.jpg
/apple5.txt
/banana1.jpg
/banana1.txt
/banana2.jpg
/banana2.txt
/banana3.jpg
/banana3.txt
/banana4.jpg
/banana4.txt
/banana5.jpg
/banana5.txt
